<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="zhuanjia" value="('妇科主号','中医主号','正主任','副主任','口腔主号','口腔副号','中医副号','妇科副号')"></add>
    <add key="putong" value="('妇科普号','免费号','普通','中医普号','口腔普号')"></add>
    <add key="jizhen" value="('急诊号')"></add>
    <add key="tijian" value="('免费体检')"></add>
    <add key="menzhenliang" value=""/>
    <add key="ruyuanchuyuan" value=""/>
    <add key="yiliaotongji" value=""/>
    <add key="superusers" value="2709"/>
    <add key="chuangjianban" value="2709"/>

    
  </appSettings>
    <connectionStrings />
    <system.web>
        <compilation debug="true">

        </compilation>
        <!--
            通过 <authentication> 节，可配置 
      ASP.NET 用于识别进入用户的 
      安全身份验证模式。
    -->
        <authentication mode="Windows" />
        <!--
            通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  <customErrors mode="Off"/>
    </system.web>
<system.webServer>
  
    <defaultDocument>
      <files>
        <add value="yiliaotongji.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
